<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #feb34e">
    <a class="navbar-brand" routerLink="home">
        <div><img src="" alt="">Naucna centrala</div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">

        <ul id="user" class="navbar-nav ml-auto" style="margin-right: 5%">

            <li  class="nav-item active" >
                <a class="nav-link" routerLink="reviewers"  *ngIf="userRole === 'ROLE_ADMIN'">    Requests  </a>
            </li>
            <li  class="nav-item active" >
                <a class="nav-link" routerLink="login" *ngIf="userRole === ''" >Log In  </a>
            </li>
            <li  class="nav-item active" >
                <a class="nav-link" routerLink="register" *ngIf="userRole === ''" >Register </a>

            </li>
            <li  class="nav-item active" >
                <a class="nav-link" *ngIf="userRole !== ''" (click)="logout()">Log out </a>
            </li>


            <li  class="nav-item dropdown" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarFeaturesDropdownMenu" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false"> </a>
                <div class="dropdown-menu dropdown-left-manual" aria-labelledby="navbarFeaturesDropdownMenu">
                    <a class="dropdown-item" routerLink="chooseMagazines" *ngIf="userRole === 'ROLE_AUTHOR'"> Magazines </a>
                    <a class="dropdown-item" routerLink="works" *ngIf="userRole === 'ROLE_MAINREDACTOR'"> Works </a>
                </div>
            </li>

        </ul>
    </div>
</nav>
