<div class="container">
    <div class="row">
        <div class="offset-3"></div>
        <div class="col-md-6">
            <form name="registerForm" #f="ngForm" (submit)="submit(f.value,f)"  novalidate class="form-signin">

                <h2 class="form-signin-heading"  >Works</h2>


                <div *ngFor="let field of formFields" >
                    <div class="form-group" >

                        <label> {{field['label']}} </label>

                        <div class="col-sm-5">
                            <input type="text" class="form-control" name={{field.id}} ngModel *ngIf="field.type.name=='string'" [ngModel]=field.defaultValue readonly/>
                            <input type="checkbox"  name={{field.id}} ngModel  *ngIf="field.type.name=='boolean'" >
                        </div>

                    </div>
                </div>


                <button type="submit"  class="btn btn-primary pull-right" >
                    <i class="fa fa-envelope-o"></i>
                    <span> Submit </span>
                </button>
            </form>
        </div>
        <div class="offset-3"></div>
    </div>
</div>
